<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css"/>
<%- include('./partials/nav') %>

<main>
  <% if (user) { %>
  <h1>
    Welcome <%= user.profile.name %> , your daily reports are ready
  </h1>
  <% } %>
  <% if (!user) { %>
    <h1>Welcome</h1>
    <h3>
      Wargames provide a dynamic environment to explore and examine a variety of challenges and concepts along the strategic, operational and tactical levels. As an educational tool, wargaming fosters critical thinking and innovation, but most of all, it helps prepare tactical leaders for future challenges.
    </h3>
    <h3>
      A decision support system (DSS) is a computerized program used to support determinations, judgments, and courses of action in an organization. A DSS sifts through and analyzes massive amounts of data, compiling comprehensive information that can be used to solve problems and in decision-making.
    </h3>
    <h2>
      This tool can be used for both.
    </h2>
      <div id="block-one">
        <p id="textblock-one">
          This view provides a visual representation of the earth, allowing users to plan and execute their strategies. It also allows players to track the movement and positioning of their units. In the future ships and battlegroups will have a visual representation on the map itself. Overall, a map view is a crucial tool for understanding and engaging in conflicts.
        </p>
        <img src="assets/mapview.png" alt="Battlegroup overview with battlegroups" id="map-image">
    </div>
    <div id="block-two">
      <img src="assets/bgview.png" alt="Map overview with ships and battlegroups" id="bg-image">
      <p id="textblock-two">
        This view displays a comprehensive list of battlegroups and the ships that comprise them. Each battlegroup has its own dedicated page, which lists the individual ships that make up the group, along with their location, capabilities, and tasking. The page is a valuable resource for military enthusiasts, researchers, and anyone interested in the naval capabilities.
      </p>
    </div>
    <div id="block-three">
      <p id="textblock-three">
        This view displays a comprehensive list of war ships and their information. The layout is clean and easy to navigate, that allows users to find ships by their name or type. Each ship has its own dedicated page, which provides detailed information such as the ship's class, fuel, ammo count, AOR, and tasking.
      </p>
      <img src="assets/shipsview.png" alt="Ship overview with ships and their information" id="ship-image">
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
