<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Battle Groups</h1>
  <table id="list">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>