html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #1a1a1a;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

#content {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(7, auto);
  grid-auto-flow: column;
  gap: 2em;
  align-items: start;
  justify-items: center;
  justify-content: space-evenly;
}

td a {
  color: white;
  text-decoration: none;
  margin: 6px;
  border-radius: 4px;
}

td a:hover {
  background-color: grey;
}
