<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/ships/new.css"/>
<%- include('../partials/nav') %>

<% if (user) { %> 
  <h2>Add Ship</h2>
  <form action="/ships" method="POST">
    <label>
      Name: 
      <input type="text" name="name" autocomplete="off" required="required">
    </label>
    <label for="class-select">Class:
    <select name="class" id="class-select"> 
      <option value="DDG">DDG</option>
      <option value="CG">CG</option>
      <option value="CVN">CVN</option>
      <option value="SSN">SSN</option>
      <option value="SSBN">SSBN</option>
      <option value="SSGN">SSGN</option>
    </select>
  </label>
    <label>
      Location: 
      <input type="text" name="location" autocomplete="off">
    </label>
    <label>
      Fuel:
      <input type="number" name="fuel" autocomplete="off" min="0" max="100" placeholder="%">
    </label>
    <label>
      Food:
      <input type="number" name="food" autocomplete="off" min="0" max="100" placeholder="%">
    </label>
    <label for="aor-select">AOR:
    <select name="aor" id="aor-select"> 
      <option value="3rd Fleet">3rd Fleet</option>
      <option value="2nd Fleet">2nd Fleet</option>
      <option value="4th Fleet">4th Fleet</option>
      <option value="6th Fleet">6th Fleet</option>
      <option value="5th Fleet">5th Fleet</option>
      <option value="7th Fleet">7th Fleet</option>
    </select>
    </label>
    <label>
      Characteristics:
      <input type="text" name="characteristics" autocomplete="off"placeholder="SPY, SQQ-89">
    </label>
    <label>
      Ammo Remaining:
      <input type="text" name="ammo" autocomplete="off" placeholder="Missle/Round count">
    </label>
    <label>
      Tasking:
      <input type="text" name="tasking" autocomplete="off">
    </label>
    <label>
      Days underway:
      <input type="text" name="daysUnderway" autocomplete="off">
    </label>
    <label for="independent-steaming-checkbox">Independent Steaming</label>
    <input type="checkbox" name="independentSteaming" id="independent-steaming-checkbox">
    <button type="submit">Add Ship</button>
  </form>
<% } %>

<%- include('../partials/footer') %>