<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<% if (user) { %> 
  <h2>Add Ship</h2>
  <form action="/ships" method="POST">
    <label>
      Name: 
      <input type="text" name="name" autocomplete="off">
    </label>
    <label>
      Class:
      <input type="text" name="class" autocomplete="off">
    </label>
    <label>
      Fuel:
      <input type="number" name="fuel" autocomplete="off">
    </label>
    <label>
      Food:
      <input type="number" name="food" autocomplete="off">
    </label>
    <label>
      Battlegroup:
      <input type="text" name="battlegroup" autocomplete="off">
    </label>
    <label>
      Armament:
      <input type="text" name="armament" autocomplete="off">
    </label>
    <label>
      Ammo Remaining:
      <input type="text" name="ammo" autocomplete="off">
    </label>
    <label>
      Tasking:
      <input type="text" name="tasking" autocomplete="off">
    </label>
    <label>
      Days underway:
      <input type="text" name="daysUnderway" autocomplete="off">
    </label>
    <button type="submit">Add Ship</button>
  </form>
<% } %>

<%- include('../partials/footer') %>