html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #1a1a1a;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

table {
  -webkit-border-horizontal-spacing: 0px;
  gap: 1rem;
}

th {
  /* border-bottom: white solid 4px; */
}

th, td {
  padding: 8px;
}

#update-button {
  border-radius: 4px;
  color: black;
  background-color: white;
  padding: 2px;
  font-weight: 400;
  text-decoration: none;
}

#update-button:hover {
  background-color: grey;
  color: white;
}

a.update {
  background-color: white;
  border-radius: 4px;
  padding: 2px;
  color: black;
}

button {
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 0px;
  padding: 2px;
  font-size: 16px;
}

td {
  text-align: center;
}

button:hover {
  background-color: grey;
  color: white;
}

a:hover {
  background-color: grey;
  color: white;
}

#first-row > * {
  padding: 16px;
}

#content {
  /* background-color: green; */
}

#subheader > * {
  /* background-color: blue; */
  border-bottom: white solid 4px;
}

#battlegroup-name {
  background: grey;
  border-radius: 20px;
}

#add-battlegroup {
  background-color: red;
  display: flex;
  flex-direction: column;
}

#add-battlegroup > * {
  padding: 8px;
}

#new-bg-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  font-size: 24px;
}

#new-bg-form > * {
  padding: 8px;
}

h2 {
  border-bottom: 1px solid white;
}

input {
  border-radius: 4px;
}

#submit-button {
  width: 50%;
  text-align: center;
}