html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: black;
  color: #40ff0088;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

table {
  -webkit-border-horizontal-spacing: 0px;
  gap: 1rem;
}

th {
  /* border-bottom: white solid 4px; */
}

th, td {
  padding: 8px;
}

#update-button {
  border-radius: 4px;
  color: #40ff00c6;
  background-color: black;
  padding: 2px;
  font-weight: 400;
  text-decoration: none;
}

#update-button:hover {
  background-color: black;
  color: #5eff00;
  border: 1px solid #40ff00f4;
}

a.update {
  background-color: black;
  border-radius: 4px;
  padding: 2px;
  color: black;
}

button {
  border-radius: 4px;
  background-color: black;
  color: #40ff00c6;
  border: 0px;
  padding: 2px;
  font-size: 16px;
}

td {
  text-align: center;
}

button:hover {
  background-color: black;
  color: #5eff00;
  border: 1px solid #40ff00f4;
}

a:hover {
  background-color: black;
  color: #5eff00;
  border: 1px solid #40ff00f4;
}

#first-row > * {
  padding: 16px;
}

#subheader > * {
  border-bottom: #40ff00c6 solid 4px;
}

#battlegroup-name {
  border: 1px solid #40ff00f4;
  background: black;
  border-radius: 20px;
}


#add-battlegroup > * {
  padding: 8px;
}

#new-bg-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  font-size: 24px;
}

#add-battlegroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#new-bg-form > * {
  padding: 8px;
}

h2 {
  border-bottom: 1px solid #40ff00c6;
  margin-bottom: -18px;
}

input {
  width: 100%;
  background-color: black;
  border: 1px solid #40ff0088;
  border-radius: 4px;
  color: #40ff00c6;
}

#submit-button {
  width: 50%;
  text-align: center;
}

select {
  color:#5eff00;
  background-color: black;
  border: 1px solid #40ff0088;
  border-radius: 4px;
}

h1 {
  color:#5eff00;
}

h2 {
  color:#5eff00;
}
