html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: black;
  color: #40ff0088;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

table {
  -webkit-border-horizontal-spacing: 0px;
  gap: 1rem;
}

th {
  border-bottom: #40ff00c6 solid 4px;
}

th, td {
  padding: 8px;
}

a.update {
  background-color: black;
  border-radius: 4px;
  padding: 2px;
  color: #40ff00f4;
  text-decoration: none;
}

button {
  border-radius: 4px;
  background-color:black;
  color: #40ff00c6;
  border: 0px;
  padding: 2px;
  font-size: 16px;
}

td {
  text-align: center;
}

button:hover {
  color: #5eff00;
  background-color: black;
  border: #40ff00c6 solid 1px;
}

a:hover {
  color: #5eff00;
  border: #40ff00c6 solid 1px;
}

h1 {
  color: #40ff00f4;
}