html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: black;
  color: #40ff0088;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

form > * {
  font-size: large;
  padding: 16px;
}

input {
  border-radius: 4px;
}

button {
  border-radius: 4px;
  background-color: black;
  color: #40ff00c6;
  border: 0px;
  padding: 2px;
  font-size: 16px;
}

button:hover {
  color: #5eff00;
  border: 1px solid #40ff00c6;
}

#head {
  display: flex;
  flex-direction: column;
}

label {
  font-size: x-large;
}

h2 {
  display: flex;
  justify-content: center;
  color: #40ff00c6;
}

#head > * {
  padding: 5px;
}

#content {
  display: grid;
  grid-template-rows: repeat(1, 100%);
  grid-template-columns: repeat(2, 50%);
}

#content > * {
  padding: 48px;
}

#box1 {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: fit-content;
}

#box1 > * {
  padding: 5px;
}

#box2 {
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: fit-content;
  width: fit-content;
}

#box2 > * {
  padding: 5px;
}

input {
  width: 100%;
  background-color: black;
  border: 1px solid #40ff0088;
  color: #40ff00c6;
}

a:hover {
  color:#5eff00;
  border: 1px solid #40ff00c6;
}

select {
  color:#5eff00;
  background-color: black;
  border: 1px solid #40ff0088;
  border-radius: 4px;
}

/* input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #000;
}

input[type="checkbox"]:checked + label:before {
  background-color: #000;
}

input[type="checkbox"]:checked + label:after {
  content: "✔";
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: -2px;
  left: 2px;
} */
